
<h1 class="center", id="homeSearchLogo">OmniDUKE</h1>
<div class="center">
<%= render partial:"partials/one_button_search_bar", locals:{redirect:omni_results_path} %>

<div id="myCollapsibleExample"><a href="#demo" data-toggle="collapse">Click me to expand and click me again to collapse.</a></div>  
<div id="demo" class="collapse">  
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe.  
</div>  

</div>
