<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path}} %>


<h1 class="center", id="homeSearchLogo">OmniDUKE</h1>
<div class="center">
<%= render partial:"partials/omni_search_bar", locals:{redirect:omni_results_path} %>



</div>
