
.ts440PMto830PM {
	width: 218px;
	margin-left: 572px;
}

.ts1005AMto1235PM {
	width: 165px;
	margin-left: 170px;
}

.ts1005AMto1120AM {
	width: 83px;
	margin-left: 170px;
}

.ts125PMto300PM {
	width: 91px;
	margin-left: 386px;
}

.ts305PMto435PM {
	width: 86px;
	margin-left: 481px;
}

.ts125PMto240PM {
	width: 72px;
	margin-left: 386px;
}

.ts305PMto420PM {
	width: 72px;
	margin-left: 481px;
}

.ts900AMto1200PM {
	width: 189px;
	margin-left: 108px;
}

.ts615PMto730PM {
	width: 71px;
	margin-left: 662px;
}

.ts830AMto930AM {
	width: 57px;
	margin-left: 79px;
}

.ts1145AMto1245PM {
	width: 66px;
	margin-left: 280px;
}

.ts615PMto845PM {
	width: 142px;
	margin-left: 662px;
}

.ts1005AMto1125AM {
	width: 88px;
	margin-left: 170px;
}

.ts440PMto610PM {
	width: 85px;
	margin-left: 572px;
}

.ts125PMto255PM {
	width: 86px;
	margin-left: 386px;
}

.ts1005AMto1135AM {
	width: 99px;
	margin-left: 170px;
}

.ts1145AMto100PM {
	width: 83px;
	margin-left: 280px;
}

.ts830AMto935AM {
	width: 62px;
	margin-left: 79px;
}

.ts1145AMto1250PM {
	width: 72px;
	margin-left: 280px;
}

.ts125PMto230PM {
	width: 62px;
	margin-left: 386px;
}

.ts305PMto410PM {
	width: 62px;
	margin-left: 481px;
}

.ts125PMto225PM {
	width: 57px;
	margin-left: 386px;
}

.ts1005AMto1105AM {
	width: 66px;
	margin-left: 170px;
}

.ts830AMto945AM {
	width: 71px;
	margin-left: 79px;
}

.ts305PMto405PM {
	width: 57px;
	margin-left: 481px;
}

.ts320PMto420PM {
	width: 57px;
	margin-left: 496px;
}

.ts440PMto555PM {
	width: 71px;
	margin-left: 572px;
}

.ts1235PMto335PM {
	width: 175px;
	margin-left: 335px;
}

.ts1030AMto1200PM {
	width: 99px;
	margin-left: 198px;
}

.ts140PMto230PM {
	width: 47px;
	margin-left: 401px;
}

.ts320PMto410PM {
	width: 47px;
	margin-left: 496px;
}

.ts845AMto935AM {
	width: 48px;
	margin-left: 93px;
}

.ts455PMto545PM {
	width: 47px;
	margin-left: 586px;
}

.ts1020AMto1110AM {
	width: 55px;
	margin-left: 187px;
}

.ts1200PMto1250PM {
	width: 55px;
	margin-left: 297px;
}

.ts900AMto1115AM {
	width: 139px;
	margin-left: 108px;
}

.ts1215PMto230PM {
	width: 135px;
	margin-left: 313px;
}

.ts440PMto645PM {
	width: 118px;
	margin-left: 572px;
}

.ts730PMto930PM {
	width: 114px;
	margin-left: 733px;
}

.ts130PMto220PM {
	width: 48px;
	margin-left: 391px;
}

.ts320PMto430PM {
	width: 66px;
	margin-left: 496px;
}
