
.ts440PMto830PM {
	width: 218px;
	margin-left: 629px;
}

.ts1005AMto1235PM {
	width: 220px;
	margin-left: 176px;
}

.ts1005AMto1120AM {
	width: 143px;
	margin-left: 176px;
}

.ts125PMto300PM {
	width: 91px;
	margin-left: 443px;
}

.ts305PMto435PM {
	width: 86px;
	margin-left: 538px;
}

.ts125PMto240PM {
	width: 72px;
	margin-left: 443px;
}

.ts305PMto420PM {
	width: 72px;
	margin-left: 538px;
}

.ts900AMto1200PM {
	width: 255px;
	margin-left: 108px;
}

.ts615PMto730PM {
	width: 71px;
	margin-left: 719px;
}

.ts830AMto930AM {
	width: 57px;
	margin-left: 79px;
}

.ts1145AMto1245PM {
	width: 59px;
	margin-left: 346px;
}

.ts615PMto845PM {
	width: 142px;
	margin-left: 719px;
}

.ts1005AMto1125AM {
	width: 148px;
	margin-left: 176px;
}

.ts440PMto610PM {
	width: 85px;
	margin-left: 629px;
}

.ts125PMto255PM {
	width: 86px;
	margin-left: 443px;
}

.ts1005AMto1135AM {
	width: 159px;
	margin-left: 176px;
}

.ts1145AMto100PM {
	width: 74px;
	margin-left: 346px;
}

.ts830AMto935AM {
	width: 62px;
	margin-left: 79px;
}

.ts1145AMto1250PM {
	width: 64px;
	margin-left: 346px;
}

.ts125PMto230PM {
	width: 62px;
	margin-left: 443px;
}

.ts305PMto410PM {
	width: 62px;
	margin-left: 538px;
}

.ts125PMto225PM {
	width: 57px;
	margin-left: 443px;
}

.ts1005AMto1105AM {
	width: 126px;
	margin-left: 176px;
}

.ts830AMto945AM {
	width: 71px;
	margin-left: 79px;
}

.ts305PMto405PM {
	width: 57px;
	margin-left: 538px;
}

.ts320PMto420PM {
	width: 57px;
	margin-left: 553px;
}

.ts440PMto555PM {
	width: 71px;
	margin-left: 629px;
}

.ts1235PMto335PM {
	width: 171px;
	margin-left: 396px;
}

.ts1030AMto1200PM {
	width: 132px;
	margin-left: 231px;
}

.ts140PMto230PM {
	width: 47px;
	margin-left: 458px;
}

.ts320PMto410PM {
	width: 47px;
	margin-left: 553px;
}

.ts845AMto935AM {
	width: 48px;
	margin-left: 93px;
}

.ts455PMto545PM {
	width: 47px;
	margin-left: 643px;
}

.ts1020AMto1110AM {
	width: 99px;
	margin-left: 209px;
}

.ts1200PMto1250PM {
	width: 47px;
	margin-left: 363px;
}

.ts900AMto1115AM {
	width: 205px;
	margin-left: 108px;
}

.ts1215PMto230PM {
	width: 128px;
	margin-left: 377px;
}

.ts440PMto645PM {
	width: 118px;
	margin-left: 629px;
}

.ts730PMto930PM {
	width: 119px;
	margin-left: 790px;
}

.ts130PMto220PM {
	width: 48px;
	margin-left: 448px;
}

.ts320PMto430PM {
	width: 66px;
	margin-left: 553px;
}
