<%= render partial:'courses/course_detail_view_header', locals:{navHighlight:"Review"} %>
<h1>Course Reviews</h1>
<%= link_to "Review This Course", {controller:"course_reviews", action:"new", course_meta_id:@course_meta.id}, class:"btn btn-primary" %>


<%= render partial:'partials/courses/course_rating_stamp', locals:{course:@course} %>

<%= render @course_meta.course_reviews %>
