<!--div id="myCollapsibleExample"--><a class="btn" href="#demo" data-toggle="collapse">Advanced Options</a><!--/div-->  
<div id="demo" class="collapse"> 
<%= render partial:"partials/courses/areas_of_knowledge" %>
<%= render partial:"partials/courses/modes_of_inquiry" %>
<%= render partial:"partials/courses/miscellaneous_fields" %>

</div>
