<%= form_tag redirect, :method => :get do %>

<div class="input-append searchbar">
  <%= text_field_tag :search, params[:search], :class=>"span4" %>
  <%= button_tag "Search",  :class => "btn" %>


<%= render partial:"partials/miscellaneous/info_popover", locals:{id:"omniSearchBarHelp", content:help_text, title:"Confused?", placement:"bottom"} %>





</div>




<% end %>

