
<h3><%= link_to instructor.toString, instructor_path(instructor), class:"instructor_link" %></h3>
<strong>Courses Taught:</strong>
<% for course in instructor.courses %>
<%= link_to course.name, course_path(course), class:"course_link" %>
<% end %>
<br>
<strong>Subjects Taught:</strong>
<% for subject in instructor.subjects_by_count %>
<%= link_to subject.name, subject_path(subject), class:"subject_link" %>
<% end %>
