
<h3><%= link_to instructor.toString, instructor_path(instructor) %></h3>
<strong>Courses Taught:</strong>
<% for course in instructor.courses %>
<%= link_to course.name, course_path(course) %>
<% end %>
<br>
<strong>Subjects Taught:</strong>
<% for subject in instructor.subjects_by_count %>
<%= link_to subject.name, subject_path(subject) %>
<% end %>
