<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Professors"=>instructors_path}} %>
<div class="page-header"><h1>Explore Professors</h1></div>

<%= render partial:"partials/search_bar/search_bar", locals:{redirect:instructors_results_path, help_text:instructor_search_help_text, advanced_options_partial:"partials/null"} %>

<h3>Browse By</h3>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Name</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Subjects</a>
    </li>

  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <%= render partial:"partials/alpha_list", locals:{list:@instructors, unique:"instructor", controller:"instructors", action:"show", class_name:"instructor_link"} %>
    </div>
    <div class="tab-pane fade in" id="tab2">
      <%= render partial:"partials/alpha_list", locals:{list:@subjects, unique:"subject", controller:"subjects", action:"show_instructors", class_name:"subject_link"} %>
    </div>

  </div>
</div>


