<h1>Explore Instructors</h1>
<h3>Search by Instructor Name and/or Instructor Subject</h3>

<%= render partial:"partials/two_button_search_bar", locals:{redirect:instructors_results_path} %>

<h3>Browse by Last Name</h3>
<ul>
<%= render @instructors %>
</ul>
