<h3>Search by Instructor Name and/or Instructor Subject</h3>

<%= render partial:"partials/two_button_search_bar", locals:{redirect:instructors_results_path} %>

<h3>Browse By</h3>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Last Name</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Subjects</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <%= render @instructors%>
    </div>
    <div class = "tab-pane fade in" id="tab2">
      <%= render @instructors %>
    </div>
  </div>
</div>


