<h1>Explore Instructors</h1>
<h3>Search by Instructor Name and/or Instructor Subject</h3>
<%= form_tag instructors_results_path, :method => :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
<% end %>
<h3>Advanced Search</h3>

<h3>Browse by Last Name</h3>
<ul>
<%= render @instructors %>
</ul>
