<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Professors"=>instructors_path, "Results"=>'#'}} %>

<h1 class="non_home_title">Search Results</h1>
<%= render partial:"partials/instructors/instructor_search_bar", locals:{redirect:instructors_results_path} %>

<%= render @instructors %>

