<div class="control-group">
  <label class="control-label">Areas of Knowledge</label>
  <div class="controls">
    <label class="checkbox inline">
      <%= check_box( :attributes, :Seminar) %> Seminar
    </label>
    <label class="checkbox inline">
      <%= check_box( :attributes, :SLC) %> Service Learning Course
    </label>
  </div>
</div>
