<!-- Requires locals: {section: @section} -->
        <%= link_to raw("<button class='btn btn-small btn-primary'>Add</button>"), {
                controller: "bookbag_relationship",
                action: "create",
                section: section.id, 
                course: params[:id]
            }, {
                method: :post,
                remote: true
            } 
        %>