<!-- Requires locals: {section: @section} -->
        <%= link_to raw("<button class='btn btn-danger'>Remove</button>"), {
                controller: "bookbag_relationship",
                action: "destroy",
                id: getBookbagRelationshipId(current_or_guest_user, section),
                section: section.id, 
                course: params[:id]
            }, {
                method: :delete,
                remote: true
            } 
        %>