<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Subjects"=>subjects_path, "Results"=>'#'}} %>


<h1>Search Results</h1>
<%= render partial:"partials/search_bar/search_bar", locals:{redirect:subjects_results_path, help_text:subject_search_help_text, advanced_options_partial:"partials/null"} %>

<%= render @subjects %>

