
<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Professors"=>instructors_path, @subject.abbr => '#'}} %>


<h1><%= (@subject.name)+" ("+@subject.abbr+")"%></h1>
<%= render @instructors %>
