<%= render partial:'courses/course_detail_view_header', locals:{navHighlight:"Review"} %>
<h1>Course Review</h1>
<h3>Overall Rating: <%= @course_meta.overall_quality %></h3>
<h3>Overall Difficulty: <%= @course_meta.overall_difficulty %></h3>