<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "OmniSearch"=> "#"}} %>
<div class="center">
<%= render partial:"partials/omni_search_bar", locals:{redirect:omni_results_path} %>

</div>
<div class="row">

  <%= render @omni_results%>

</div>
