<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "OmniSearch"=> "#"}} %>
<div class="page-header"><h1>OmniSearch Results</h1></div>
<%= render partial:"partials/search_bar/search_bar", locals:{redirect:omni_results_path, help_text:omni_search_help_text, advanced_options_partial:"partials/null"} %>


  <%= render @omni_results%>


