<h1>Search</h1>
<%= render partial:"partials/one_button_search_bar", locals:{redirect:omni_results_path} %>

<div class="row">

  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active">
	<a href="#tab1" data-toggle="pill">Courses</a>
      </li>
      <li>
	<a href="#tab2" data-toggle="pill">Instructors</a>
      </li>
    </ul>
  </div>
  
  <div class="span8">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="tab1">
	<ul>
	  <%= render @course_results%>
	</ul>
      </div>
      <div class="tab-pane fade active in" id="tab2">
	<ul><%= render @instructor_results%></ul>
      </div>
    </div>
  </div>


</div>
