<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "OmniSearch"=> "#"}} %>
<h1 class="non_home_title">OmniSearch Results</h1>
<%= render partial:"partials/omni_search_bar", locals:{redirect:omni_results_path} %>





  <%= render @omni_results%>


