
<div class="center">
<%= render partial:"partials/one_button_search_bar", locals:{redirect:omni_results_path} %>
</div>
<div class="row">

  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active">
	<a href="#tab1" data-toggle="pill">Courses</a>
      </li>
      <li>
	<a href="#tab2" data-toggle="pill">Professors</a>
      </li>
    </ul>
  </div>
  
  <div class="span10">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="tab1">

	  <%= render @course_results%>

      </div>
      <div class="tab-pane fade in" id="tab2">
	<%= render @instructor_results%>
      </div>
    </div>
  </div>


</div>
