<!-- must have @course from parent view -->
<div class="page-header">
  <h3><%= @course.subject.abbr+" "+courseToCode(@course)%></h3>
  <h1><%= @course.name %></h1>

  </div>

    <ul class="nav nav-pills">
      <li <% if navHighlight!="Review" %>class="active"<%end%>>
        <%= link_to "Overview", course_path(@course.id) %>
      </li>
      <li <% if navHighlight=="Review" %>class="active"<% end %>>
        <%= link_to "Reviews", course_reviews_path(@course.id) %>
      </li>
    </ul>
