
<div class="row">
  <div class="span9">

    <h3><%= link_to courseToString(course), course_path(course)  %></h3>
    
    <h4>Professors: <%= render :partial => "partials/instructors", :locals => { :instructors => course.instructors} %></h4>
    
    <h4>Attributes: 
      <% for attribute in course.course_attributes %>
      <%= attribute.toString %>
      <% end %>
    </h4>
    
    <h4>Description:</h4>
 
    <% for description in course.descriptions %>
    <% if description!=nil %>
    <p><%= description.truncate(300) %></p>
    <% end %><% end %>






  </div>
  
  <div class="span3">
    <h3>Times</h3>
  </div>
  
</div>

