<h1>Overview</h1>
<h3>Course numbers(old numbering in parenthesis)</h3>
<% for courseNumber in @course.course_numberings %>

<p><%= courseNumber.toString %></p>

<% end %>

<h3>Description</h3>
<% if @course.descriptions.size==1 %>
<%= @course.descriptions.first %>
<% else %>
<p>Find the different descriptions in each section.</p>
<% end %>



<h3>Session</h3>
<p><%= @course.session.name %></p>

<h3>Prerequisites</h3>
<% for prereq in @course.prerequisites %>
<%= link_to prereq.course_numberings.first.toString,
    course_path(prereq.id) %>
<% end %>


