<h1>Overview</h1>
<h3>Course numbers(old numbering in parenthesis)</h3>
<p><%= courseToCode(@course) %></p>


<h3>Description</h3>
<% if @course.descriptions.size==1 %>
<%= @course.descriptions.first %>
<% else %>
<p>Find the different descriptions in each section.</p>
<% end %>



<h3>Session</h3>
<% if @course.session!=nil %>
<p><%= @course.session.name %></p>
<% end %>



