<h1>Explore Courses</h1>
<h3>Search by Keyword and/or Course Number</h3>
<%= render partial:"partials/search_bar", locals:{redirect:courses_results_path} %>




<h3>Browse by Subject</h3>

<ul>
<%= render @subjects %>
</ul>
