<%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Courses"=>courses_path}} %>
<div class="page-header">
<h1>Explore Courses</h1>
</div>
<%= render partial:"partials/search_bar/search_bar", locals:{redirect:courses_results_path, help_text:course_search_help_text, advanced_options_partial:"partials/search_bar/course_advanced_options"} %>




<h3>Browse by Subject</h3>



<%= render partial:"partials/alpha_list", locals:{list:@subjects, unique:"course", controller:"subjects", action:"show_courses", class_name:"subject_link"} %>

