<h1>Explore Courses</h1>

<%= render partial:"partials/courses/course_search_bar", locals:{redirect:courses_results_path} %>
 



<h3>Browse by Subject</h3>


<%= render partial:"partials/alpha_list", locals:{list:@subjects} %>

