<title>OmniDUKE Courses</title>
<!--%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Courses"=>courses_path, (@course.subject.abbr+@course.toSingleCode)=>'#'}} %-->


<%= render partial:'courses/course_detail_view_header', locals:{navHighlight:"Overview"}%>
<%= render 'courses/overview'%>

      






