// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_courses{
padding-bottom: 10px;
h3{
line-height: 21px;
}
.list_course_content{
#padding-left: 10px;
}

#padding-bottom:20px; 
}

.list_courses_in_subject{
	

	h3{
	line-height: 10px;
	}
}