// Place all the styles related to the CourseReview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button.rating_meter{
	border-color: black;
	width:30px;
	background-color:grey;

}

