
table thead th.timetable {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.bg-dark-green {
    background-color: #33FF66;  
}

.bg-light-green {
	background-color: #33FF99;	
}

.red { /* FOR TESTING */ 
	background-color: red;
}

#omniContainer {
    position: relative;
    top: 20px;
}

/* SIDE MENU STYLING */

#side-menu {
	margin-left: 10px;
	margin-top: -15px;
}

#side-content {
	height:470px;
	background-color:#99FFFF;
	overflow-y: scroll;
    font-size: small;
}

.sidemenu-course {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

.sidemenu-sections {
    /* Enable display through javascript */
}

.sidemenu-section {
    border-style: dotted;
    border-width: 1px;
}

div .click-section {
	cursor: pointer;
	border: dotted;
	border-width: 1px;
	border-color: red;
}

.sideMenu ul.nav-tabs li a {
    /*
	font-size: small;
	padding: 8px 5px 8px 5px;
    */
}

#saved-schedules {
    border-style: solid;
    border-color: #D0D0D0;
    border-width: 1px;
    border-top-style: none;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -o-border-bottom-left-radius:5px;
    -o-border-bottom-right-radius:5px;
    height: 437px;
}

#saved-schedules .first-sidemenu-schedule-name {
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    padding-left: 20px;
}

#saved-schedules .sidemenu-schedule-name {
    border-bottom: 1px solid #D0D0D0;
    padding-left: 20px;
}



/* SCHEDULATOR STYLING */

#schedulatorContainer {
	margin-top: -15px;
}

.schedule {
	position: relative;
	background-color:#FFFFFF;
	height:470px;
}

.daySlot {
	position: relative;
	background-color:#FFFFFF;
	height:58px;
	top:10px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: black;
}

.dayName {
	position: relative;
	top:38px;
	left:2px;
}

.Sun {
	border-top-width: 1px;
	border-top-style: solid;
}

a#save-modal-button {
    position:relative;
    float:right;
    right: 10px;
    top:-525px;
}



/* TIME SLOT STYLING */

table.ts-content {
	width:100%;

}

table.ts-content thead tr th {
	background-color: #CC0000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-top-left-radius:5px;
    -moz-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -o-border-top-left-radius:5px;
    -o-border-top-right-radius:5px;
    font-size: 53%;
    font-weight: bold;
    color: #FFFFFF;
}

table.ts-content tbody tr td {
    font-weight: bold;
    font-size: xx-small;
    color: #FFFFFF;
}


.timeslot {
    position:absolute;
    height:58px;
    background-color: #FF3333;
    bottom:0px;
    border: none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}

/* NAV STYLING */

button.nav-link-close {
	position: relative;
	float: right;
	right: 6px;
	top: 2px;

}

a.schedulator-link {
}

.time-string {
	position: absolute;
	top:-7px;
	left:-2em;
	font-size: small;
}

.dotted-line {
    display:block;
	position: absolute;
	border-right-style: dotted;
	border-right-width: 1px;
	height: 450px;
	color: red;	
	z-index: 1000;
}
