
.eightAM {
	margin-left: 53px;
}

.nineAM {
	margin-left: 111px;
}

.tenAM {
	margin-left: 169px;
}

.elevenAM {
	margin-left: 227px;
}

.twelvePM {
	margin-left: 285px;
}

.onePM {
	margin-left: 343px;
}

.twoPM {
	margin-left: 401px;
}

.threePM {
	margin-left: 459px;
}

.fourPM {
	margin-left: 517px;
}

.fivePM {
	margin-left: 575px;
}

.sixPM {
	margin-left: 633px;
}

.sevenPM {
	margin-left: 691px;
}

.eightPM {
	margin-left: 749px;
}

.ninePM {
	margin-left: 807px;
}

.tenPM {
	margin-left: 865px;
}
