

table thead th.timetable {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.bg-light-green {
	background-color: #33FF99;	
}

.red { /* FOR TESTING */ 
	background-color: red;
}

/* SIDE MENU STYLING */

.sideMenu {
	margin-left: 10px;
	margin-top: -15px;
}

#class-list {
	height:470px;
	background-color:#99FFFF;
	overflow: scroll;
}

div .click-section {
	cursor: pointer;
	border: dotted;
	border-width: 1px;
	border-color: red;
}

/* SCHEDULATOR STYLING */

#schedulatorContainer {
	margin-top: -15px;
}

.schedule {
	position: relative;
	background-color:#FFFFFF;
	height:470px;
}

.daySlot {
	position: relative;
	background-color:#FFFFFF;
	height:58px;
	top:10px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: black;
}

.dayName {
	position: relative;
	top:38px;
	left:2px;
}

.Sun {
	border-top-width: 1px;
	border-top-style: solid;
}


/* TIME SLOT STYLING */

table.ts-content {
	width:100%;

}

table.ts-content thead tr th {
	background-color: #CC0000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-top-left-radius:5px;
    -moz-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -o-border-top-left-radius:5px;
    -o-border-top-right-radius:5px;
    font-size: xx-small;
    color: #FFFFFF;
}

table.ts-content tbody tr td {
    font-weight: bold;
    font-size: xx-small;
    color: #FFFFFF;
}


.timeslot {
    position:absolute;
    height:58px;
    background-color: #FF3333;
    bottom:0px;
    border: none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}

/* NAV STYLING */

button.navLinkClose {
	position: relative;
	float: right;
	right: 6px;
	top: 2px;

}

a.schedulator-link {
}

/*
.Mon {
	top:20px;
}

.Tue {
	top:30px;
}

.Wed {
	top:40px;
}

.Thu {
	top:50px;
}

.Fri {
	top:60px;
}

.Sat {
	top:70px;
}
*/

.time-string {
	position: absolute;
	top:-7px;
	left:-2em;
	font-size: small;
}

.dotted-line {
	position: absolute;
	border-right-style: dotted;
	border-right-width: 1px;
	height: 450px;
	color: red;	
	z-index: 1000;
}


.eightAM {
	margin-left:53px;
}

.nineAM { 
	margin-left:118px;
}

.tenAM { 
	margin-left:183px;
}

.elevenAM {
	margin-left:248px;
}

.twelvePM { 
	margin-left:313px;
}

.onePM { 
	margin-left:378px;
}

.twoPM { 
	margin-left:443px;
}

.threePM { 
	margin-left:508px;
}

.fourPM { 
	margin-left:573px;
}

.fivePM { 
	margin-left:638px;
}

.sixPM { 
	margin-left:703px;
}

.sevenPM { 
	margin-left:768px;
}

.eightPM { 
	margin-left:833px;
}

.ninePM { 
	margin-left:898px;
}

.tenPM {
	margin-left:963px;
}

