
.rounded-border {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-style: solid;
    padding: 5px;
}

.grey-border {
    border-color: #D0D0D0;
}

.red-border {
    border-color: #CC0000;
}

.hovered-over {
    background-color: #F8F8F8; 
    border-color:#383838;
}

.coin-flip {
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
}

div.row .right {
    float: right;
}

div.row .left {
    float: left;
}

div#conflict-resolution a {
    color: #333333;
}
/* CONFLICT STYLINGS */

div#conflict-resolution {
    margin-right: 10px;
    margin-left: 10px;
}

div#conflict-resolution .row {
    position: relative;
    left: 20px;
}

div#conflict-warning {
    border-color: #FFCC33;
    background-color: #FFFF66;
    margin-bottom: 20px;
}

div#conflict-resolution .sections {
    height: 115px;
}

div#conflict-resolution .clickable {
    cursor: pointer;
    padding-bottom: 10px;
}

div.mid {
    height: 120px;
}


/* DIVERGE MODAL STYLINGS */ 
.text-align {
    margin-left: 22px;
}