
.ts125PMto240PM {
	width: 72px;
	margin-left: 367px;
}

.ts1005AMto1120AM {
	width: 73px;
	margin-left: 173px;
}

.ts630PMto845PM {
	width: 130px;
	margin-left: 662px;
}

.ts615PMto730PM {
	width: 73px;
	margin-left: 647px;
}

.ts305PMto530PM {
	width: 141px;
	margin-left: 463px;
}
