
.ts125PMto240PM {
	width: 81px;
	margin-left: 405px;
}

.ts1005AMto1120AM {
	width: 81px;
	margin-left: 188px;
}

.ts630PMto845PM {
	width: 146px;
	margin-left: 735px;
}

.ts615PMto730PM {
	width: 81px;
	margin-left: 719px;
}

.ts305PMto530PM {
	width: 157px;
	margin-left: 513px;
}
