

/* universal styling */

body{
  padding-top: 50px;
  font-size:100%;
}

.center{
text-align: center;
}

.searchbar{
padding-top: 15px;

}

li.alpha_button{
a{
font-size: 95%;
margin-right: 0px;
}
}

h1.non_home_title{

}