$course_link_color: red;
$instructor_link_color: green;
$subject_link_color: blue;

/* universal styling */

body{
  padding-top: 50px;
  font-size:100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
.center{
text-align: center;
}

.searchbar{
padding-top: 15px;
}

.right {
	position: relative;
	float: right;
	margin-right: 15px;
}

.pad-left-small {
  padding-left: 50px
}



/* needed for some reason for nav pills to center */
#home_page_pills{
    margin: 0 auto;
    padding: 0;
    width: 400px;
}


.title_of_horizontal_form{
margin-left: 180px;
}

li.alpha_button{
a{
font-size: 95%;
margin-right: 0px;
}
}



a.rating_button{
color: #333;
text-decoration: none;
border-radius: 4px;
border: 1px solid #BBB;
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
}