    <%= link_to raw('
            <div class="click-section">' + section.time_slot.aces_value + 
            '</div>
        '), {
            controller: "schedule_relationship",
            action: "create",
            section: section.id,
            schedulator: @schedulator.id
        }, {
            id: "section-slot-" + section.id.to_s,
            method: "post",
            remote: true,
            data: { days: section.getDaysAsStrArray.to_json.to_s,
                timeslot: section.getTimeSlotStr 
            }
        }
    %>