<% sid = @schedulator.id.to_s %> 
    <div class="row">
        <div class="span9" id="schedulatorContainer">
            <% if $state == "saved" %>
                <% sid = "saved" %>
                <%= render 'schedulator/saved' %> 
            <% else %> <!-- state is current -->
                <%= render partial: "schedulator/schedulator", locals: {schedulator:@schedulator}
                %>
                <!--%= link_to "Done", schedulator_index_path(click_flag: "true"), {
                    class: "btn"
                } %-->
            <% end %>
        </div>
        <%= render partial: "schedulator/classList" %>
    </div>

<script type="text/javascript">
    $("#schedulator-li-<%= sid %>").addClass("active")
</script>
