    <div class="row">
        <div class="classList span2">
            <!-- FILL WITH SECTIONS -->
            <% current_or_guest_user.sections.each do |section| %>
                <%= render partial: 'schedulator/section',
                    locals: { section: section }
                %>
            <% end %>
        </div>
        <div class="span10" id="schedulatorContainer">
            <% if $state == "saved" %>
                <%= render 'schedulator/saved' %> 
            <% else %> <!-- state is current -->
                <%= render partial: "schedulator/schedulator"
                %>
            <% end %>
            <%= link_to "Done", schedulator_index_path(click_flag: "true"), {
                class: "btn"
            } %>
        </div>
    </div>
