<ul class="nav nav-tabs">
    <li class="<%= getActiveClass(active, 1) %>">
        <%= link_to "New", {}, {} %>
    </li>
    <li class="<%= getActiveClass(active, 2) %>">
        <%= link_to "Saved", {}, {} %>
    </li>
</ul>
