<div class="updateHistory">
    <ul id="schedulatorNav" class="nav nav-tabs">
            <li id="schedulator-li-<%= current_or_guest_user.current_schedulator.id.to_s %>">
                <%= link_to "Current", schedulator_current_path(schedulator: current_or_guest_user.current_schedulator, edit: @edit), { remote: true } %>
            </li>
            <% current_or_guest_user.active_schedulators.each do |active| %>
                <%= render partial: "schedulator/navLink", locals: {schedulator: active} %>
            <% end %>
            <li id="schedulator-new-nav"></li>
            <li id="schedulator-li-saved">
                <%= link_to "Saved", schedulator_saved_path(schedulator: @schedulator.id, edit: @edit), { remote: true } %>
            </li>
    </ul>
</div>
