<ul class="nav nav-tabs">
    <% if isActiveClass(active, 1) %> 
        <li class="active">
            <%= link_to "New", "", { remote: true } %>
        </li>
        <li class="<%= getActiveClass(active, 2) %>">
            <%= link_to "Saved", schedulator_saved_path, { remote: true } %>
        </li>
    <% end %> 
</ul>
