<!-- Requires locals: {section:@section} -->
<% @srel = getScheduleRelationship(@schedulator, section) %> 
<% divBg = "" %>
<% if @srel.conflicting %>
    <% divBg = "red" %>
<% end %>
    <%= link_to raw("
            <div class='click-section #{divBg}'>" + section.time_slot.aces_value + 
            '<i class="right icon-ok"></i></div>
        '), {
            controller: "schedule_relationship",
            action: "destroy",
            id: @srel.id,
            section: section.id,
            schedulator: @schedulator.id
        }, {
            id: "section-slot-" + section.id.to_s,
            method: "delete",
            remote: true,
            data: { days: section.getDaysAsStrArray.to_json.to_s,
                timeslot: section.getTimeSlotStr 
            }
        }
    %>