    <%= link_to raw('
            <div class="click-section bg-light-green">' +
                section.name + section.time_slot.aces_value + 
            '</div>
            <br />
        '), {
            controller: "schedule_relationship",
            action: "destroy",
            id: getRelationshipId(current_user.schedulator, section),
            section: section.id
        }, {
            id: "section-slot-" + section.id.to_s,
            method: "delete",
            remote: true,
            data: { days: section.getDaysAsStrArray.to_json.to_s,
                timeslot: section.getTimeSlotStr 
            }
        }
    %>