<div id="side-nav">
    <%= render partial: "schedulator/side-nav" %>
</div>
<div id="side-content">
    <div id="saved-schedules" class="updateHistory updateHeader">
        <div class="divider"></div>
        <% current_or_guest_user.schedulators.each do |schedulator| %>
                <div id="schedule-<%= schedulator.id %>" class="sidemenu-schedule-name">
                <%= link_to schedulator.getName, {
                    controller: "active_schedulator_relationships",
                    action: "create",
                    schedulator: schedulator.id
                }, {
                    class: "scheduleNameUpdate",
                    method: :post,
                    remote: true
                } %>
                <% rid = getSchedulatorSavedRelationship(current_or_guest_user, schedulator).id
                %>
                <%= link_to raw('<button type="button" class="close right">&times;</button>'), {
                        controller: "schedulator_saved_relationships",
                        action: "destroy",
                        id: rid
                    }, {
                        class: "ignore-history destroy-saved",
                        method: :delete,
                        remote: true
                    }
                %>
            </div>
        <% end %>
    </div>
</div>
