<div id="side-nav">
    <%= render partial: "schedulator/side-nav" %>
</div>
<div id="side-content">
    <div id="saved-schedules" class="updateHistory updateHeader">
        <% current_or_guest_user.schedulators.each do |schedulator| %>
            <% if schedulator == current_or_guest_user.schedulators.first %>
                <div class="first-sidemenu-schedule-name">
            <% else %>
                <div class="sidemenu-schedule-name">
            <% end %>
                <%= link_to schedulator.getName, {
                    controller: "active_schedulator_relationships",
                    action: "create",
                    schedulator: schedulator.id
                }, {
                    class: "scheduleNameUpdate",
                    method: :post,
                    remote: true
                } %>
                <button type="button" class="close right">&times;</button> 
            </div>
        <% end %>
    </div>
</div>
