<!-- Requires locals: {section:@section} -->
<!-- Think about implementing loop to deal with multiple slots per section -->

<div class="timeslot ts<%= section.getTimeSlotStr %>">
    <table class="ts-content">
        <thead><tr><th><%= section.getTimeSlotStrFormatted %></th></tr></thead>
        <tbody>
            <tr><td><%= section.name %></td></tr>
        </tbody>
    </table>
</div>