<title>OmniDuke Schedulator</title>
<h1>This is schedulator#index</h1>
<br />

<div class="container">

<div class="row">
    <div class="classList span2">
        <!-- FILL WITH SECTIONS -->
        <% current_user.sections.each do |section| %>
            <%= render partial: 'schedulator/section',
                locals: { section: section }
            %>
        <% end %>
    </div>
    <div class="span10">
        <%= render partial: "schedulator/nav",
            locals: { active: "new" } 
        %>
        <%= render 'schedulator/show' %> 
    </div>
</div>

</div>
