<title>OmniDuke Schedulator</title>
<h1 id="scheduleName"><%= @name %></h1>
<br />

<div class="container" id="omniContainer">
    <div class="row">
        <%= render partial: "schedulator/classList" %>
        <div class="span10" id="schedulatorContainer">
            <%= render 'schedulator/saved' %> 
        </div>
    </div>
</div>